@media (min-width: 1020px) {a{
  text-decoration: none;
  font-family:Montserrat;
  display: block;
  margin:1em;
  color: #a2a2a2;
}

p{
  font-family: 'Open Sans', sans-serif;

font-size: 1;
}

h1{
font-family:Montserrat;
margin-top: 0;
margin-bottom: 60px !important;

}

h1,h2,h3,h4{
  font-family:sans-serif;
}

body{
  background-color:#ffffff;
  background-blend-mode: multiply;
  color: #a2a2a2;
  width: 100%;
  height: 100%;
  margin: 0;
}

.sectionAbout{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: 10% 90%;
  height: 100%;
}

#myBtn {
  display:unset;
}
/*Hover section*/
.navigation .pages a:hover {
  color: #a2a2a2;
}

/*Navigation*********************************************************************************/
.navigation .pages a:hover {
    color: #a2a2a2;
}
.navigation{
  grid-column: 1/ span 10;
  grid-row: 1/span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 50px 0 50px;
}
.logo {
  grid-column: 1;
  grid-row: 1;
}
.pages {
  grid-column: 2;
  grid-row: 1;
  justify-self:end;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about{
  grid-column: 2;
  grid-row: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.main{
  grid-column: 1;
  grid-row: 1;
  margin-left: 10px;
  margin-right: 10px;
}
/*Navigation*********************************************************************************/

img{
  width: 70%;
  height:auto;
  grid-column: 3;
  grid-row: 2;
  z-index: -10;
  justify-self:end;
}

.aboutContent{
  grid-column: 2/ span 5;
  grid-row: 1/span 10;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 0 0 20px 0;
  align-self: center;
 width: 600px;
 height: 550px;
}
.jacobTitle{
  grid-column: 8;
  grid-row: 2;
  z-index: 6;
  align-self: end;
  font-weight: 3em !important;
}

.paraOne{
  text-align: justify;
  grid-column: 2/ span 5;
  grid-row: 2;
  z-index: 6;
  line-height: 1.6em;
  align-self: center;
}

.profileimage{
  grid-column: 3/ span 1;
  grid-row: 2/span 1;
  z-index: -1;
  position: relative;
  width: 70%;
  height:auto;
}
.mobNavigation{
display:none;
}
/*Add nested grid*/
.mobLogo{
  display:none;
}
.mobMenu {
  display:none;
}



}
@media (max-width: 605px) {

    p{
      font-family: 'Open Sans', sans-serif;
    }

    body{
      background: #ffffff;  /* fallback for old browsers */
      color: #a2a2a2;
      width: 100%;
      margin: 0;
    }
    a{
      text-decoration: none;
      font-family:Montserrat;
      color: #a2a2a2;

    }
    h1{
      font-family:sans-serif;
      font-size: 2em;
      margin-top: 0;
      color: white;
    }
    h2,h3,h4{
      font-family:sans-serif;

    }
    .sectionAbout{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 10% 40% 40% 10%;
    }
    /*Navigation*********************************************************************************/

    .mobNavigation{
      grid-column: 1/ span 1;
      grid-row: 1/span 1;
      display: grid;
      grid-template-columns: 5% 1fr 1fr 5%;
      -webkit-margin-before: 5%;
      -moz-margin-before:15%;

    }
    /*Add nested grid*/
    .mobLogo{
      grid-column: 2;
      grid-row: 1;
      justify-self:start;
    }
    .mobMenu {
      grid-column: 3;
      grid-row: 1;
      align-self: center;
      justify-self:end;
      z-index: 5000;
    }
      .navigation{
        display:none;
      }
      #logo{
      width:35px ;
      height: 35px;
      z-index: 1;
      }
    /*Navigation*********************************************************************************/


  img{
    width: 100%;
    height:auto;
    grid-column: 1/ span 1;
    grid-row: 1/ span 2;
    z-index: -10;
    justify-self:end;

  }
  .jacobTitle{
    grid-column: 1/ span 1;
    grid-row: 1/ span 2;
    font-size: 1em;
    line-height: 2em;
    align-self: end;
    margin: 0 7% 0 7%;
  }
  .paraOne{
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    margin: 0 7% 0 7%;
  }
  .sidebar{
    grid-column: 1;
    grid-row: 4/span 1;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap:10px 20px;
  }
  .sidebar > a{
  color: #a2a2a2;
  justify-self: center;

  }
}

@media only screen and (min-device-width : 240px) and (max-device-width : 320px) {

}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}
@media only screen and (min-device-width : 480px) and (max-device-width : 800px) {

}
@media only screen and (min-device-width : 480px) and (max-device-width : 854px) {

}
@media only screen and (min-device-width : 540px) and (max-device-width : 960px) {

}
@media (min-width: 605px) {
/*smallest tablet double lauout*/
a{
  text-decoration: none;
  font-family:Montserrat;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  color: #a2a2a2;
}
body{
  background: #ffffff;  /* fallback for old browsers */
  color: #a2a2a2;
  width: 100%;
  margin: 0;
}
p{
  font-family: 'Open Sans', sans-serif;
}
.sectionAbout{
display: grid;
grid-template-columns:10% 40% 40% 10%;
grid-template-rows: 10% 90%;
}
/*Navigation*********************************************************************************/

.mobNavigation{
  grid-column: 1/ span 4;
  grid-row: 1/span 1;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  -webkit-margin-before: 5%;
  -moz-margin-before:15%;

}
/*Add nested grid*/
.mobLogo{
  grid-column: 2;
  grid-row: 1;
  justify-self:start;
}
.mobMenu {
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  justify-self:end;
}
  .navigation{
    display:none;
  }
  #logo{
  width:35px ;
  height: 35px;
  z-index: 1;
  }
/*Navigation*********************************************************************************/

img{
  width: 70%;
height: auto;
grid-column: 3;
grid-row: 2;
z-index: -10;
justify-self: end;
align-self: center;
}
.jacobTitle{
  grid-column: 3;
    grid-row: 2;
    font-size: 1em;
    line-height: 2em;
    align-self: center;
    font-family: sans-serif;
    z-index: 10;
        color: #ffffff;
    margin: 64% 0 0 34%;
}



.paraOne{
grid-gap: 20px;
grid-column: 2;
grid-row: 2;
font-size: 1em;
line-height: 1.2em;
text-align: justify;
/*align-self: end;*/

}
.sidebar{
  grid-column: 1;
      grid-row: 2;
      justify-self: center;
      align-self: end;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px 28px;
      /*margin-left: 29%;*/
}
.sidebar > a{
color: #a2a2a2;
justify-self: center;

}
}

@media only screen and (min-device-width : 640px) and (max-device-width : 1136px) {

}
@media only screen and (min-device-width : 720px) and (max-device-width : 1280px) {

}
@media only screen and (min-device-width : 750px) and (max-device-width : 1334px) {

}
@media only screen and (min-device-width : 1080px) and (max-device-width : 1920px) {

}
@media only screen and (min-device-width : 1440px) and (max-device-width : 2560px) {

}
@media only screen and (min-device-width : 2160px) and (max-device-width : 3840px) {

}
/*----------------------------------------SMART PHONE MEDIA QUERIES------------------*/


/*----------------------------------------TABLET AND PC MONITOR MEDIA QUERIES------------------*/

@media only screen and (min-device-width : 1024px) and (max-device-width : 768px) {
}
@media only screen and (min-device-width : 1280px) and (max-device-width : 1024px) {
}
@media only screen and (min-device-width : 1280px) and (max-device-width : 800px) {
}
@media only screen and (min-device-width : 1366px) and (max-device-width : 768px) {
}
@media only screen and (min-device-width : 1920px) and (max-device-width : 1080px) {
}
@media only screen and (min-device-width : 2560px) and (max-device-width : 1440px) {
}

/*----------------------------------------TABLET AND PC MONITOR MEDIA QUERIES------------------*/
