@media (min-width: 1020px) {

  #myBtn {
    display: none !important;
  }
  .mobAbout{
    display: none;
  }
  .mobMain{
    display: none;
  }
  #popUp {
  display: none;
  }

  #popUp p{
   display: none;
  }
#menuToggle{
  display: none;
}
.sidebar {
    position: fixed !important;
    top: 50% !important;
    left: 2% !important;
  /*  margin-left: 0.4em !important;*/
    display: block;
}


  .mobLogo{
    display: none;
  }
  .mobNav{
    display: none;
  }
  #square{
  transform: rotate(20deg);
  display: none;
  position: absolute;
  top: 65px;
  right: 427px;
  width:34px ;
  height: 37px;
  z-index: -1;
  }
  #circle{
  display: none;
  position: absolute;
  top: 65px;
  right: 340px;
  width:34px ;
  height: 37px;
  z-index: -1;
  }
  #hexagon{
  display: none;
  position: absolute;
  top: 65px;
  right: 260px;
  width:34px ;
  height: 37px;
  z-index: -1;
  }
  #triangle{
    transform: rotate(20deg);
  display: none;
  position: absolute;
  top: 67px;
  right: 160px;
  width:34px ;
  height: 37px;
  z-index: -1;
  }

  #logo{
  width:10%;
  height: 10%;
  z-index: -1;
  fill: #a2a2a2 !important;
  }

  .active#square{
    display:unset;/*resets styles*/
  }

}


/*----------------------------------------SMART PHONE MEDIA QUERIES-----------------------------------------*/

@media (max-width: 605px) {
  /*----------------------------------------GENERAL STYLING-----------------------------------------*/


  #navBackdrop {
      position:absolute;
      /* color with alpha transparency */
      background-color: rgb(9, 9, 9);
      /* stretch to screen edges */
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2000;
      overflow: hidden;
      display: none;
  }


 .overlay {
  opacity:0.5;
  display:unset !important;
}

.hidden{
  overflow: hidden;
}

  .smooth {
  transition: width .5s;
  transition: height .5s;
  }
/*----------------------------------------GENERAL STYLING-----------------------------------------*/

/*----------------------------------------Navigation Slider-----------------------------------------*/
  #popUp {
    width:100%;
    background:#ffffff;
    color:#a2a2a2;
    display:none;
    overflow: hidden;
    z-index: 3000;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  #popUp p{
   padding:20px;
  }
/*----------------------------------------Navigation Slider-----------------------------------------*/

/*----------------------------------------Navigation -----------------------------------------*/

.mobNav {
    margin: 0px 50px 0 50px;
    text-align: center;
  }

    .nav-toggle {
      background: transparent;
      border: 1px solid transparent;
      z-index: 3015;
      -webkit-transform(7%, 7%);
      transform: translate(7%, 7%);
    }

    .nav-toggle:focus {
      outline-width: 0;
    }

    .nav-toggle [class*='bar-'] {
      background: #a2a2a2;
      display: block;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: .2s ease all;
              transition: .2s ease all;
      border-radius: 8px;
      height: 2px;
      width: 30px;
      margin-bottom: 5px;

    }


    .nav-toggle .bar-bot {
      margin-bottom: 0;
    }

    .opened .bar-top {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transform-origin: 15% 15%;
              transform-origin: 15% 15%;
    }
    .opened .bar-mid {
      opacity: 0;
    }
    .opened .bar-bot {
      -webkit-transform: rotate(45deg);
              transform: rotate(-45deg);
      -webkit-transform-origin: 15% 95%;
              transform-origin: 15% 95%;
    }


  .mobLogo{
    background: transparent;
    z-index: 3015;

  }

  .navLine {
  position: relative;
  display: block;
  cursor: pointer;
}

.navLine:before, .navLine:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 5px;
  top: 50%;
  margin-top: -0.5px;
  background: #229dd8;
}

.navLine:before {
  left: -2.5px;
}
.navLine:after {
  right: 2.5px;
  background: #229dd8;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navLine:hover:before {
  background: #229dd8;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navLine:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}


  /*----------------------------------------Navigation -----------------------------------------*/
  #myBtn {
    display: none;
    position: fixed;
    font-size: 1em;
    bottom: 5%;
    left: 44%;
    z-index: 99;
    outline: none;
    width: 46px;
    height: 46px;
    cursor: pointer;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 50%;
    border: 2px solid #229dd8;
    color: #229dd8;
  }

  #myBtn:hover {
    border: 1px #a2a2a2 solid;
  }
}

/* This is the fix to your nav issues :) */
@media (min-width: 1020px) {
	.navigation {
		display: grid !important;
	}
	.mobNavigation {
		display: none !important;
	}
}

@media (min-width: 605px) {
	  .portfolioGBdy{
		grid-template-rows: 5% repeat(8 1fr)!important;
	}
}




/*
#popUp .mobAbout{
	padding-top: 10px;

}*/


#popUp .mobMain {
	padding-top: 70px;
}
@media (min-width: 605px) and (max-width: 1020px){


  #myBtn {
    display: none;
    position: fixed;
    font-size: 1em;
    bottom: 3%;
    left: 44%;
    z-index: 99;
    outline: none;
    width: 46px;
    height: 46px;
    cursor: pointer;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 50%;
    border: 2px solid #229dd8;
    color: #229dd8;
  }

  #myBtn:hover {
    border: 1px #a2a2a2 solid;
  }
}

/*  .sidebar{
   position: fixed;
   top: 30%;
   left: 3%;
   margin-left:1%;
  }*/

    #navBackdrop {
        position:absolute;
        /* color with alpha transparency */
        background-color: rgb(9, 9, 9);
        /* stretch to screen edges */
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2000;
        overflow: hidden;
        display: none;
    }


   .overlay {
    opacity:0.5;
    display:unset !important;
  }

  .hidden{
    overflow: hidden;
  }

    .smooth {
    transition: width .5s;
    transition: height .5s;
    }
  /*----------------------------------------GENERAL STYLING-----------------------------------------*/

  /*----------------------------------------Navigation Slider-----------------------------------------*/
    #popUp {
      width:100%;
      background:#ffffff;
      color:#a2a2a2;
      display:none;
      overflow: hidden;
      z-index: 3000;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    #popUp p{
     padding:20px;
    }
  /*----------------------------------------Navigation Slider-----------------------------------------*/

  /*----------------------------------------Navigation -----------------------------------------*/

  .mobNav {
      text-align: center;
    }

      .nav-toggle {
        background: transparent;
        border: 1px solid transparent;
        z-index: 3015;
        -webkit-transform(50%, 50%);
        transform: translate(7%, 7%);
      }

      .nav-toggle:focus {
        outline-width: 0;
      }

      .nav-toggle [class*='bar-'] {
        background: #a2a2a2;
        display: block;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transition: .2s ease all;
                transition: .2s ease all;
        border-radius: 8px;
        height: 2px;
        width: 30px;
        margin-bottom: 5px;

      }


      .nav-toggle .bar-bot {
        margin-bottom: 0;
      }

      .opened .bar-top {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transform-origin: 15% 15%;
                transform-origin: 15% 15%;
      }
      .opened .bar-mid {
        opacity: 0;
      }
      .opened .bar-bot {
        -webkit-transform: rotate(45deg);
                transform: rotate(-45deg);
        -webkit-transform-origin: 15% 95%;
                transform-origin: 15% 95%;
      }


    .mobLogo{
      background: transparent;
      z-index: 3015;

    }

    .navLine {
    position: relative;
    display: block;
    cursor: pointer;
  }

  .navLine:before, .navLine:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    top: 50%;
    margin-top: -0.5px;
    background: #229dd8;
  }

  .navLine:before {
    left: -2.5px;
  }
  .navLine:after {
    right: 2.5px;
    background: #229dd8;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .navLine:hover:before {
    background: #229dd8;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .navLine:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }

#square{
transform: rotate(20deg);
display: none;
position: absolute;
top: 65px;
right: 427px;
width:34px ;
height: 37px;
z-index: -1;
}
#circle{
display: none;
position: absolute;
top: 65px;
right: 340px;
width:34px ;
height: 37px;
z-index: -1;
}
#hexagon{
display: none;
position: absolute;
top: 65px;
right: 260px;
width:34px ;
height: 37px;
z-index: -1;
}
#triangle{
  transform: rotate(20deg);
display: none;
position: absolute;
top: 67px;
right: 160px;
width:34px ;
height: 37px;
z-index: -1;
}

#logo{
/*  -webkit-width(196px);
  -webkit-height(115px);*/
  width: 45px;
  height: 45px;
z-index: -1;
}

.active#square{
  display:unset;/*resets styles*/
}

}

}
